.tours-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

.tour {
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: all 0.5s ease;
}

.tour:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.45);
}

.tour-img {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.tour-img img {
  width: 100%;
  height: 100%;
}

.tour-title {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  padding: 10px 10px 10px 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 87, 128),
    rgb(201, 211, 253)
  );
  color: aliceblue;
  clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
}

.tour-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 0;
  font-size: 18px;
  background-color: #2f86a6;
  padding: 10px;
  color: #fff;
  transition: all 0.5s ease;
}

.tour-btn:hover {
  background-color: #34be82;
}

.tour-btn-svg {
  color: #ff5151;
  font-size: 20px;
  margin-left: 5px;
}
